In [31]:
# imports
import pandas as pd

#### Clothing coparsing

In [32]:
df_class_dict = pd.read_csv("data/clothing-coparsing-dataset/class_dict.csv")
df_metadata = pd.read_csv("data/clothing-coparsing-dataset/metadata.csv")

In [33]:
df_metadata.head()

,image_id,image_path,label_type,label_path,raw_label_path
0,1,images/0001.jpg,pixel-level,pixel_level_labels_colored/0001.png,pixel_level_labels_mat/0001.mat
1,2,images/0002.jpg,pixel-level,pixel_level_labels_colored/0002.png,pixel_level_labels_mat/0002.mat
2,3,images/0003.jpg,pixel-level,pixel_level_labels_colored/0003.png,pixel_level_labels_mat/0003.mat
3,4,images/0004.jpg,pixel-level,pixel_level_labels_colored/0004.png,pixel_level_labels_mat/0004.mat
4,5,images/0005.jpg,pixel-level,pixel_level_labels_colored/0005.png,pixel_level_labels_mat/0005.mat

In [34]:
df_class_dict.head()

    class_name   r   g    b
0          NaN  69   6   90
1  accessories  70  12   95
2          bag  71  18  101
3         belt  72  25  107
4       blazer  72  30  112

In [56]:
df_class_dict["class_name"][2]

'bag'

In [5]:
df_metadata[df_metadata["label_type"] == 'image-level']

,image_id,image_path,label_type,label_path,raw_label_path
1004,1005,images/1005.jpg,image-level,image_level_labels_txt/1005.txt,image_level_labels_mat/1005.mat
1005,1006,images/1006.jpg,image-level,image_level_labels_txt/1006.txt,image_level_labels_mat/1006.mat
1006,1007,images/1007.jpg,image-level,image_level_labels_txt/1007.txt,image_level_labels_mat/1007.mat
1007,1008,images/1008.jpg,image-level,image_level_labels_txt/1008.txt,image_level_labels_mat/1008.mat
1008,1009,images/1009.jpg,image-level,image_level_labels_txt/1009.txt,image_level_labels_mat/1009.mat
...,...,...,...,...,...
2093,2094,images/2094.jpg,image-level,image_level_labels_txt/2094.txt,image_level_labels_mat/2094.mat
2094,2095,images/2095.jpg,image-level,image_level_labels_txt/2095.txt,image_level_labels_mat/2095.mat
2095,2096,images/2096.jpg,image-level,image_level_labels_txt/2096.txt,image_level_labels_mat/2096.mat
2096,2097,images/2097.jpg,image-level,image_level_labels_txt/2097.txt,image_level_labels_mat/2097.mat
2097,2098,images/2098.jpg,image-level,image_level_labels_txt/2098.txt,image_level_labels_mat/2098.mat

In [43]:
test_file = open(f"data/clothing-coparsing-dataset/labels/image_level_labels_txt/1005.txt", 'r')
res = [int(line) for line in test_file.readlines()]
print(res)

[0, 5, 9, 15, 19, 21, 41, 42, 47]

In [6]:
import scipy.io
mat = scipy.io.loadmat("data/clothing-coparsing-dataset/labels_raw/image_level_labels_mat/1005.mat")

In [7]:
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Tue Aug 19 14:56:26 2014',
 '__version__': '1.0',
 '__globals__': [],
 'tags': array([[ 0,  5,  9, 15, 19, 21, 41, 42, 47]], dtype=uint8)}

In [8]:
import matplotlib.pyplot as plt
plt.imshow(mat['groundtruth'], vmin=0, vmax=58)

KeyError: 'groundtruth'

#### Fashion product image

In [ ]:
# CLEANING des CSV styles (ils avaient oublié de virgules dans la dernière colonne)

# import csv

# expected_fields = 10
# # input_path = "data/fashion-product-images-small/styles.csv"
# # output_path = "data/fashion-product-images-small/styles_fixed.csv"
# # input_path = "data/fashion-product-images-small/myntradataset/styles.csv"
# # output_path = "data/fashion-product-images-small/myntradataset/styles_fixed.csv"

# with open(input_path, newline='', encoding='utf-8') as infile, \
#      open(output_path, 'w', newline='', encoding='utf-8') as outfile:
#     reader = csv.reader(infile)
#     writer = csv.writer(outfile, quoting=csv.QUOTE_MINIMAL)
#     header = next(reader)
#     writer.writerow(header)
#     for row in reader:
#         if len(row) > expected_fields:
#             row = row[:expected_fields-1] + [",".join(row[expected_fields-1:])]
#         writer.writerow(row)

In [58]:
df_styles = pd.read_csv("data/fashion-product-images-small/styles_fixed.csv")
df_styles2 = pd.read_csv("data/fashion-product-images-small/myntradataset/styles_fixed.csv")

In [59]:
df_styles.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [68]:
df_styles.usage.unique()

array(['Casual', 'Ethnic', 'Formal', 'Sports', nan, 'Smart Casual',
       'Travel', 'Party', 'Home'], dtype=object)

In [ ]:
df_styles2.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt